/node_modules
/public/hot
/public/storage
/public/admin/images
/public/site/imagens/anuncios
/public/site/imagens/avatares
/public/site/imagens/depoimentos
/public/site/imagens/marcas
/public/site/imagens/noticias
/public/site/imagens/produtos
/public/site/imagens/usuarios
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
