/node_modules
/public/hot
/public/storage
/public/admin/images
/public/admin/imagens
/public/site/imagens/
/public
.htaccess
error_log
public/error_log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
