section.blog-news {
    padding-bottom: 2.2rem;
    div.niv {
        @include flex(column, flex-start, space-between);
        gap: 1rem;

        div.blog-area {
            width: 100%;
            // max-width: 64.2rem;
            // height: 30.8rem;

            background-color: $preto-contra;
            border-radius: 4px;

            padding: 2.1rem 2.4rem 1.8rem 2.4rem;

            div.top-title {
                width: 100%;
                margin-bottom: 2rem;

                &,
                h2 {
                    @include flex(row, center, space-between);
                }

                h2 {
                    color: $white;

                    picture {
                        // height: 2.6rem;
                        // width: 2.4rem;

                        // background-color: $creme-contra;
                        // border-radius: 100%;

                        // @extend %totalcenter;
                        margin-right: 1rem;
                    }
                }
            }

            div.content {
                div.scroll {
                    @include flex(row, flex-start, space-between);
                    width: 100%;
                    gap: 1rem;

                    // a.card {
                    //     width: 100%;
                    //     max-width: 14.3rem;
                    //     height: 22.3rem;
                    //     overflow: hidden;
                    //     @include flex(column, flex-start, space-between);

                    //     padding: 1.3rem;
                    //     background-size: cover !important;
                    //     background-position: center !important;

                    //     border-radius: 0.4rem 0.4rem 0 0;

                    //     span,
                    //     strong {
                    //         font-family: $font-secondary;
                    //         font-weight: 700;
                    //         font-size: 1.4rem;
                    //         line-height: 1.9rem;
                    //         color: $white;
                    //     }
                    //     span {
                    //         vertical-align: middle;
                    //         text-decoration-line: underline;
                    //     }

                    //     strong {
                    //         height: 7rem;
                    //         max-width: 10rem;
                    //         position: relative;

                    //         &:after {
                    //             height: 0.2rem;
                    //             width: 6.5rem;
                    //             background-color: $tertiary;

                    //             content: "";
                    //             position: absolute;
                    //             left: 0;
                    //             top: -0.4rem;
                    //         }
                    //     }
                    // }

                    a.card {
                        border-radius: 0.4rem;
                        overflow: hidden;
                        position: relative;
                        background-size: cover !important;

                        &::after {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            border-radius: 0.4rem;

                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) -29.41%, #242424 100%);
                            content: "";
                            top: 0;
                            left: 0;
                        }

                        div.text {
                            p,
                            strong,
                            h1,
                            i {
                                color: $branco-contra;
                            }

                            strong {
                                font-size: 1.4rem;
                            }

                            h1 {
                                @include limitText(13rem, 2);
                            }

                            z-index: 1;
                        }

                        height: 18.3rem;
                        // width: 100%;
                        width: 31rem;

                        padding: 1.8rem 1.7rem;

                        @include flex(column, flex-start, space-between);

                        &:first-child {
                            margin-bottom: 1rem;
                        }

                        & > strong {
                            font-family: $font-secondary;
                            font-weight: 700;
                            font-size: 1.8rem;
                            line-height: 2.4rem;
                            color: $branco-contra;
                            z-index: 1;

                            @include limitText(13.2rem, 5);
                        }

                        p,
                        p strong {
                            font-size: 1.4rem;
                            color: $white;
                            z-index: 1;
                        }

                        &:hover,
                        &:focus {
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }

        @include responsive(800px) {
            flex-direction: column;
            gap: 1rem;

            div.blog-area,
            div.news-area {
                width: 100%;
                max-width: unset;
            }
        }

        @include responsive(500px) {
            div.blog-area {
                div.content {
                    width: 100%;
                    overflow: auto;

                    div.scroll {
                        width: max-content;
                        gap: 3rem;
                    }
                }
            }
        }
    }
}
