section.cadastro {
    background: #d5a000;
    padding-top: 8.7rem;
    padding-bottom: 10rem;

    div.niv {
        @include flex(row, center, space-between);

        div.niv-right {
            width: 100%;
            max-width: 48.7rem;

            @include fade(translateY(200px), 1s, 0s);

            form {
                @include flex(column, center, flex-start);
                width: 48.7rem;
                height: 45.7rem;

                gap: 2.6rem;

                padding: 4.7rem 4.8rem;
                border-radius: 2.7rem;

                background: $white;

                label {
                    width: 100%;
                    @include flex(column, flex-start, flex-start);
                    gap: 0.6rem;

                    span {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.4rem;
                        line-height: 140%;
                        letter-spacing: 0.01em;
                        color: $dark-purple;
                    }

                    input {
                        width: 100%;
                        height: 4.8rem;

                        padding-left: 3.4rem;
                        border: solid 0.1rem $dark-purple;
                        border-radius: 1.5rem;
                    }
                }

                button {
                    @include h1-btn(6rem, 37.9rem);
                    border-radius: 3rem;
                }
            }

            p {
                font-size: 18px;
                line-height: 121.7%;
                text-align: center;
                letter-spacing: 0.055em;

                margin-top: 2.1rem;

                color: $white;
            }
        }

        div.niv-left {
            h4 {
                color: $main-purple;
                margin-bottom: 2.7rem;
            }

            h2 {
                color: $main-purple;
                max-width: 41.9rem;
                margin-bottom: 3.4rem;
            }

            p {
                color: $white;
                max-width: 39.2rem;

                margin-bottom: 10rem;
            }

            span {
                @include flex(row, center, flex-start);
                gap: 3.6rem;

                margin-top: 3.8rem;

                h2 {
                    color: $main-purple;

                    font-family: Inter;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 5.8rem;
                    line-height: 150%;
                    letter-spacing: 0.02em;
                    margin: 0;
                }

                strong {
                    font-weight: bold;
                    font-size: 2.4rem;
                    line-height: 150%;
                    letter-spacing: 0.02em;

                    color: $white;
                }

                p {
                    margin: 0;
                    max-width: 42rem;

                    font-size: 1.8rem;
                    line-height: 150%;
                    letter-spacing: 0.02em;
                    color: $white;
                }
            }
        }
    }

    @include responsive(800px) {
        div.niv {
            flex-direction: column;
            gap: 6rem;
        }
    }

    @include responsive(400px) {
        div.niv {
            div.niv-right {
                form {
                    width: 100%;

                    button {
                        line-height: 100%;
                        height: auto;
                        padding: 2.5rem;
                        max-width: 24rem;
                    }
                }
            }
        }
    }
}
