footer {
    div[fluid] {
        background: linear-gradient(29.43deg, #260530 -10.45%, #45244f 159.12%);

        div.niv {
            padding-top: 5.7rem;
            padding-bottom: 2.9rem;

            div.niv-row,
            nav ul,
            div.certificate {
                @include flex(row, center, space-between);
            }

            div.niv-row {
                &:last-child {
                    margin-top: 4.7rem;
                }

                ul {
                    gap: 4rem;
                    li {
                        a {
                            font-weight: 600;
                            font-size: 1.1rem;
                            letter-spacing: 0.16em;
                            color: $white;

                            position: relative;
                            text-align: center;
                            @include flex(column, center, center);

                            &:not(.button)::after {
                                content: "";
                                position: absolute;

                                bottom: -0.8rem;

                                width: 0;
                                height: 0.2rem;

                                background-color: $main-orange;
                                transform-origin: center;
                                border-radius: 1rem;
                                transition: 0.2s ease-in-out;
                            }

                            &:hover {
                                &:not(.button)::after {
                                    width: 80%;
                                }
                            }
                        }
                    }
                }

                div.certificate {
                    gap: 1.3rem;
                }

                div.social {
                    span {
                        p {
                            display: block;
                            color: $white;
                            font-size: 1.4rem;
                        }
                    }

                    div.midias {
                        @include flex(row, center, flex-start);
                        gap: 2.5rem;

                        margin-top: 2.2rem;
                    }
                }
            }

            &.copyright {
                @include flex(row, center, space-between);
                padding-top: 1.9rem;
                padding-bottom: 3.6rem;
                position: relative;

                &::after {
                    width: 100%;
                    max-width: 121.7rem;
                    height: 1px;

                    content: "";
                    position: absolute;

                    border-top: solid 0.1rem $light-grey;
                    top: 0;
                }

                p {
                    font-size: 1.4rem;
                    color: $white;

                    @include flex(row, center, flex-start);
                    gap: 1rem;
                }

                a {
                    display: block;
                    transition: 0.32s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    @include responsive(800px) {
        div[fluid] {
            div.niv {
                div.niv-row,
                nav ul,
                div.certificate {
                    flex-direction: column;
                    gap: 2rem;
                }
            }
        }
    }

    @include responsive(400px) {
        div[fluid] {
            div.niv.copyright {
                flex-direction: column;
                gap: 2rem;
            }
        }
    }
}
