header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 6;
    transition: 0.3s;

    &._re {
    }

    &._hi {
        // div[fluid] {
        //     @include padding-y(0.4rem);

        //     &.sub-menu,
        //     &.sub-menu[active] {
        //         top: -20rem;
        //     }

        //     div.niv {
        //         nav,
        //         & > div {
        //             position: relative;
        //             top: -20rem;
        //         }
        //     }
        // }
    }

    div[fluid] {
        background-color: $white;
        // @include padding-y(1rem);
        position: relative;

        z-index: 2;

        transition: 0.32s;

        div.user-circle {
            position: absolute;
            right: 3.1rem;

            cursor: pointer;

            top: 0;
            bottom: 0;

            margin: auto 0;

            height: 4.4rem;
            width: 4.4rem;
            background: $cinza-contra;

            border-radius: 4.4rem;

            @extend %totalcenter;

            transition: 0.32s;

            user-select: none;

            img {
                transition: 0.32s;
            }

            &:hover,
            &:focus {
                background-color: $primary;

                img {
                    filter: brightness(100);
                }
            }

            &:active {
                background-color: $border-active;
            }
        }

        div.niv {
            @include flex(row, center, flex-start);
            @include padding-x(2.8rem);

            a.logo-header {
                img {
                    transition: 0.32s;
                }
            }

            nav {
                width: 100%;
                max-width: 14.7rem;
                margin-right: auto;
                margin-left: 11.5rem;
                position: relative;
                top: 0;
                transition: 0.32s;
                ul {
                    @include flex(row, center, flex-start);
                    gap: 1.6rem;
                    li {
                        a[title="menu"] {
                            display: block;
                            padding: 2.4rem;
                            // border-right: 1px $cinza-contra solid;
                            transition: 0.32s;

                            img {
                                transition: 0.32s;
                            }

                            &:hover,
                            &:focus {
                                img {
                                    transform-origin: center;
                                    transform: scale(1.1);
                                }
                            }

                            &:active {
                                transform: scale(0);
                            }
                        }
                        a:not(a[title="menu"]) {
                            color: $mid-cinza-contra;

                            font-family: $font-primary;

                            font-weight: 700;
                            font-size: 1.6rem;
                            line-height: 2.2rem;
                            text-decoration-line: underline;
                            transition: 0.32s;
                            z-index: 1;

                            position: relative;

                            &::before {
                                height: 0.2rem;
                                width: 80%;
                                background-color: $primary;
                                transition: 0.32s ease-in-out;

                                // left: -0.5rem;

                                position: absolute;
                                content: "";

                                transform: scaleX(0);
                                bottom: -1rem;
                                z-index: -1;

                                @include padding-x(0);
                            }

                            &:hover,
                            &:focus {
                                color: $white;

                                &::before {
                                    // @include padding-x(1.5rem);
                                    transform: scaleX(1);
                                }
                            }
                        }

                        &.mobile-login {
                            display: none;
                        }
                    }
                }
            }

            & > div {
                @include flex(row, center, flex-end);
                gap: 3.3rem;
                position: relative;
                top: 0;
                transition: 0.32s;

                div.search-button {
                    position: relative;
                    @include flex(row, center, flex-end);

                    input {
                        margin-right: -1rem;
                        z-index: 1;

                        background-color: $cinza-contra;
                        height: 3.8rem;
                        border-radius: 5.5rem;
                        font-size: 1.6rem;

                        transform: scaleX(0);
                        transform-origin: right;
                        transition: 0.32s;
                        padding: 0 2rem;
                        padding-right: 5rem;

                        &[open] {
                            transform: scaleX(1);
                        }
                    }

                    picture {
                        height: 3.2rem;
                        width: 3.2rem;
                        z-index: 2;
                        background-color: $cinza-contra;
                        @extend %totalcenter;
                        border-radius: 100%;

                        position: relative;
                        left: -3rem;

                        cursor: pointer;
                        transition: 0.32s;

                        user-select: none;

                        &:hover,
                        &:focus {
                            background-color: $primary;

                            img {
                                filter: brightness(100);
                            }
                        }

                        &:active {
                            background-color: $border-active;
                        }
                    }
                }

                div.buttons {
                    @include flex(row, center, center);
                    gap: 1rem;

                    a.button {
                        --height: 3.5rem;
                        --width: 12.5rem;

                        font-size: 1.5rem;

                        font-family: $font-primary;

                        border-radius: 4rem;

                        &:first-child {
                            --background-color: #{$mid-cinza-contra};
                            --font-color: #{$white};
                            // border-top-right-radius: 0;
                            // border-bottom-right-radius: 0;
                        }
                        &:last-child {
                            // border-top-left-radius: 0;
                            // border-bottom-left-radius: 0;
                        }
                    }
                }
                div.socials {
                    @include flex(row, center, flex-start);
                    gap: 2rem;
                    a {
                        color: $grey;
                    }
                }
            }
        }

        &.sub-menu {
            background-color: $primary;
            z-index: 1;
            top: -20rem;
            transition: 0.32s;

            @include padding-y(1.4rem);

            &[active] {
                top: 0;
            }

            strong {
                color: $white;
            }

            div.niv {
                nav {
                    max-width: unset;
                    margin-left: unset;
                    ul {
                        li {
                            min-width: 10rem;
                            a:not(a[title="menu"]) {
                                color: $white;
                                text-decoration: none;
                                font-family: $font-tertiary;

                                @include flex(row, center, center);

                                &::before {
                                    background-color: $white;
                                }

                                &:hover,
                                &:focus {
                                    // color: $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include responsive(1150px) {
        div[fluid] {
            div.niv {
                padding-right: 5rem;
            }
        }
    }
    @include responsive(900px) {
        div[fluid] {
            @include padding-y(1rem);

            div.niv {
                justify-content: space-between;
                nav {
                    margin: 0;
                }
                & > div {
                    div.buttons {
                        display: none;
                    }
                    div.search-button {
                        display: none;
                    }
                }
            }
        }
    }

    @include responsive(600px) {
        div[fluid] {
            &.sub-menu {
                top: -45rem;
                height: 100%;
                div.niv {
                    nav {
                        ul {
                            @include flex(column, center, center);
                            height: 100%;

                            li.mobile-login {
                                display: block;

                                a {
                                    color: $tertiary !important;
                                }
                            }
                        }
                    }
                }
            }
            div.niv {
                & > div a.button {
                    display: none;
                }
                nav {
                    margin-left: auto;
                }
            }
        }
    }

    @include responsive(400px) {
    }
}

div#div_search {
    position: absolute;
    // border: 0.1rem $border-active solid;
    // border-radius: 0.5rem;

    margin: 0 auto;
    left: 0;
    right: 0;

    transform: translateX(-1rem);
    padding-top: 3rem;
    top: 1.4rem;
    width: 92%;
    background-color: $cinza-contra;

    box-shadow: 0px 0px 25px -10px $preto-contra;

    border-radius: 0 0 2rem 2rem;

    ul {
        li {
            padding: 1rem;
            &:not(:last-child) {
                border-bottom: 0.1rem rgba(0, 0, 0, 0.137) solid;
            }

            &:last-child {
                border-radius: 0 0 2rem 2rem;
            }

            a {
                display: block;
                width: 100%;
            }

            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }
}
