header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 6;
    transition: 0.3s;

    &._re {
    }

    &._hi {
        top: -100rem;
    }

    div[fluid] {
    }

    @include responsive(900px) {
    }

    @include responsive(400px) {
    }
}
