section.historia {
    padding-top: 4rem;
    padding-bottom: 10rem;

    div.niv {
        @include flex(row, flex-end, space-between);

        div.niv-nossa {
            max-width: 59.2rem;

            width: 100%;

            h2 {
                color: $dark-purple;
                margin-bottom: 1.6rem;
            }

            p {
                max-width: 49rem;
                margin-bottom: 7.6rem;
            }

            picture {
                border-radius: 2.7rem;
                @include picframe();

                @include fade(translateX(-200px), 1s);
            }
        }

        div.niv-diferente {
            max-width: 52.3rem;

            h3 {
                color: $dark-purple;
            }

            p {
                margin-top: 2.7rem;
            }

            picture {
                @include flex(row, center, flex-start);
                gap: 2rem;

                margin-top: 2.7rem;
            }

            button {
                margin-top: 3.2rem;
                color: $dark-purple;
                height: 5rem;
                width: 100%;
                max-width: 22.3rem;

                font-weight: bold;

                padding: 1rem 4.5rem;

                background: $main-orange;

                font-size: 1.4rem;
                border-radius: 2.5rem;

                transition: 0.32s;

                &:hover {
                    background-color: $dark-purple;
                    color: $white;
                }
            }
        }
    }

    @include responsive(800px) {
        div.niv {
            @include flex(column, center, flex-start);

            text-align: center;
            gap: 3rem;

            div.niv-nossa {
                @include flex(column, center, center);
            }

            div.niv-diferente {
                picture {
                    justify-content: center;

                    max-width: 100%;

                    img {
                        max-width: 30%;
                    }
                }
            }
        }
    }
}
