section.leve {
    background: url("/site/assets/img/leva_background.jpg");
    background-size: 100% 90%;
    background-position-y: bottom;
    background-repeat: no-repeat;

    padding-bottom: 7.8rem;

    div.niv {
        @include flex(column, center, flex-start);
        gap: 4.9rem;

        h2 {
            color: $dark-purple;
            font-size: 3.6rem;

            text-align: center;
        }

        picture {
            overflow: hidden;
            border-radius: 2rem;
        }

        button {
            @include h1-btn(6rem, 37.9rem);

            background: $main-purple;
            color: $white;

            border-radius: 3rem;

            &:hover {
                background: $main-yellow;
                color: $dark-purple;
            }
        }
    }
}
