section.noticias {
    div.niv {
        padding-top: 12.3rem;
        padding-bottom: 5.8rem;
        div.niv-top {
            @include flex(row, center, space-between);
            margin-bottom: 3.9rem;

            a {
                @include flex(row, center, flex-start);
                gap: 1rem;
            }

            h2 {
                color: $dark-purple;
            }
        }

        div.niv-content {
            max-width: 100%;
            overflow: hidden;
            margin-bottom: 1.5rem;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;

            div.scroll {
                width: max-content;
                @include flex(row, center, flex-start);
                gap: 3.2rem;

                div.box {
                    height: 41.7rem;
                    width: 38.5rem;

                    scroll-snap-align: start;

                    cursor: pointer;

                    border-radius: 2rem;
                    transition: 0.32s;

                    padding: 2rem 2.7rem;
                    @include flex(column, center, flex-end);
                    background-position: center;

                    position: relative;

                    &::after {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 0;
                        border-radius: 2rem;
                        left: 0;

                        transition: 0.32s;

                        content: "";
                        background: linear-gradient(360deg, #260530 -9.34%, rgba(38, 5, 48, 0) 104%);
                        opacity: 0;
                    }

                    &:hover {
                        background-size: 120% 120%;

                        z-index: 1;

                        &::after {
                            opacity: 1;
                        }
                    }

                    div {
                        cursor: pointer;
                        background: $white;
                        border-radius: 2.2rem;

                        padding: 2.1rem 3.6rem;
                        z-index: 2;

                        span {
                            @include flex(row, center, flex-start);
                            gap: 1rem;

                            small {
                                font-size: 1.6rem;
                                line-height: 150%;
                                letter-spacing: 0.02em;
                                color: #9a95aa;
                            }
                        }

                        strong {
                            display: block;
                            font-weight: bold;
                            font-size: 1.8rem;
                            letter-spacing: 0.02em;
                            color: $dark-purple;
                            margin-top: 1.7rem;
                            max-width: 24.1rem;

                            @include limitText(4.2rem, 2);
                        }
                    }
                }
            }
        }

        div.niv-controller {
            @include flex(row, center, flex-end);
            gap: 2rem;

            picture {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    @include responsive(1150px) {
        div.niv {
            div.niv-content {
                div.scroll {
                    div.box {
                        width: 52.5rem;
                        background-size: cover;
                    }
                }
            }
        }
    }

    @include responsive(800px) {
        div.niv {
            div.niv-content {
                overflow: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }

                div.scroll {
                    div.box {
                        width: 72.5rem;
                    }
                }
            }
        }
    }
    @include responsive(600px) {
        div.niv {
            div.niv-content {
                div.scroll {
                    div.box {
                        width: calc(100vw - 7rem);
                    }
                }
            }
        }
    }
}
