// ========= PADRÃO USADO EM TEXTOS ========= //

h1 {
  color: unset;
}
h2 {
  color: unset;
}
h3 {
  color: unset;
}
h4 {
  color: unset;
}
p {
  color: unset;
}

// ========= PADRÃO USADO EM COMPONENTES ========= //

form {
  label {
    input,
    textarea,
    select {
      background-color: white;
    }
  }
}

a {
  color: unset;
  &:hover,
  &:focus {
    color: $secondary;
  }
}

.btn:has(a, button) {
  background-color: unset;

  &:hover,
  &:focus {
    color: unset;
  }
}
