@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 62.5%;
  font-family: $font-text;
  scroll-behavior: smooth;

  ::selection {
    color: $primary;
    background: #ffb8b8;
  }

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $branco-contra;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $primary;
  }

  /* CUSTOM ATTR */

  [disabled] {
    pointer-events: none;
    filter: grayscale(0);
  }

  [hide] {
    opacity: 0;
    pointer-events: none;
  }

  /* RESET */

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box !important;
    list-style: none;
    outline: none;
    text-decoration: none;

    font-size: 1.6rem;
  }

  body.overflow {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    div[fluid],
    section {
      padding-right: 2rem;
    }
  }

  a,
  button {
    all: unset;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    display: block;
  }

  ul,
  ol {
    margin: 0;
  }

  /* GRID */

  section,
  div[fluid] {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .niv {
      width: 100%;
      max-width: calc(1216px + 30px);
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  [niv-follow] {
    transition: 0.32s;
  }

  @include responsive(600px) {
    font-size: 52%;
  }

  body {
    background: $cinza-contra;
  }
}
