section.servicos {
    padding-top: 21.5rem;
    padding-bottom: 22.3rem;
    div.niv {
        div.niv-top {
            @include flex(row, center, center);
            nav {
                ul {
                    @include flex(row, center, center);

                    li {
                        padding: 1.3rem 1.9rem;

                        border-bottom: solid 1px $black;
                        cursor: pointer;

                        &[active] {
                            h2 {
                                color: $main-purple;
                            }

                            border-bottom-color: $main-purple;
                        }

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }

        div.niv-content {
            &:not(:nth-child(2)) {
                display: none;
            }

            div.row {
                margin-top: 15.8rem;
                width: 100%;
                @include flex(row, flex-end, space-between);

                main {
                    max-width: 48.9rem;

                    h2 {
                        margin-bottom: 0.8rem;
                        color: $main-purple;
                    }

                    button {
                        margin-top: 5.2rem;
                        color: $dark-purple;
                        height: 5rem;
                        width: 100%;
                        max-width: 22.3rem;

                        font-weight: bold;

                        padding: 1rem 4.5rem;

                        background: $main-orange;

                        font-size: 1.4rem;
                        border-radius: 2.5rem;

                        transition: 0.32s;

                        &:hover {
                            background-color: $dark-purple;
                            color: $white;
                        }
                    }
                }

                &:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    @include responsive(600px) {
        div.niv {
            div.niv-top {
                nav {
                    ul {
                        flex-direction: column;

                        li {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }

            div.niv-content {
                div.row {
                    flex-direction: column;
                    gap: 3rem;

                    &:nth-child(even) {
                        flex-direction: column;
                    }

                    main {
                        max-width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
