div.supermenu {
    position: fixed;
    z-index: 5;
    top: 11.3rem;
    transition: 0.32s;
    width: 100%;

    div.niv {
        min-height: 47.9rem;
        background: #fff;

        padding-top: 4.8rem;
        padding-left: 6rem;
        padding-right: 6rem;

        @include flex(row, flex-start, space-between);

        div {
            h3 {
                font-family: Inter;
                font-weight: bold;
                margin-bottom: 3.8rem;
                position: relative;

                font-size: 3rem;

                &::after {
                    height: 0.1rem;
                    width: 2.2rem;

                    top: -1.5rem;
                    left: 0;

                    background: #260530;

                    content: "";
                    position: absolute;
                }
            }

            div {
                @include flex(row, flex-start, space-between);

                nav:not(.toggled) {
                    max-height: 23.3rem;

                    ul {
                        width: 100%;
                        @include flex(row, flex-start, flex-start);
                        gap: 2rem;
                        flex-wrap: wrap;
                        max-width: 23rem;

                        li {
                            opacity: 0.7;
                            width: 18.7rem;

                            &:last-child {
                                grid-row-start: 5;
                                grid-row-end: 6;
                            }

                            a {
                                font-size: 2rem;
                                line-height: 160%;
                                color: #343a40;
                                position: relative;
                                cursor: pointer;

                                &:not(.button)::after {
                                    content: "";
                                    position: absolute;

                                    bottom: -0.8rem;

                                    width: 0;
                                    height: 0.2rem;

                                    display: block;
                                    margin: auto 0;

                                    background-color: $main-orange;
                                    transform-origin: center;
                                    border-radius: 1rem;
                                    transition: 0.2s ease-in-out;
                                }

                                &:hover {
                                    &:not(.button)::after {
                                        width: 80%;
                                    }
                                }
                            }

                            list-style: url("/site/assets/img/supermenu_list.svg") inside;

                            &:hover {
                                opacity: 1;
                            }

                            &.toggle {
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: url("/site/img/supermenu_toggle.svg");

                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                                    display: block;

                                    padding: 0.7rem 0 0 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        picture {
            animation: upandown infinite 6s linear;
        }
    }

    &[hide] {
        opacity: 0;
        pointer-events: none;
        top: -40rem;
    }

    div.mobile-close {
        display: none;
    }

    @include responsive(800px) {
        top: 0 !important;
        width: 100vw;
        height: 100vh;

        background: white;

        div.niv {
            align-items: center;

            picture {
                animation: none;

                margin: 0 auto;
            }
        }

        div.mobile-close {
            @include flex(row, center, center);
            width: 100%;

            position: absolute;

            bottom: 3rem;

            img {
                margin: 0 auto;
                transform: scale(1.5);
                background: white;
                border-radius: 100px;

                padding: 1rem;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);

                height: 3.1rem;
                width: 3.1rem;
            }
        }
    }

    @include responsive(400px) {
        div.niv {
            flex-direction: column;
            gap: 4rem;
            div {
                div {
                    nav:not(.toggled) {
                        max-height: unset;
                    }
                }
            }
        }

        div.mobile-close {
            transform: scale(1.5);
        }
    }
}
