$main-purple: #56076d;
$main-orange: #dbbf00;
$main-yellow: #e5db00;
$main-green: #079e43;

$dark-purple: #260530;
$light-purple: #3c1f5a;
$lighter-purple: #985394;
$form-purple: #45244f;

$black: black;

$grey: #323b4b;
$saturated-grey: #3a3a3a;
$light-grey: #c4c4c4;
$middle-grey: #f6f6f8;
$dark-grey: #151515;
$text-grey: #6c7175;
$filter-grey: #ededf1;
$details-grey: #808080;

$table-border: #e7ebee;

$white: #fff;

$range-gradient: linear-gradient(270deg, #540000 0%, #aa2020 44.05%, #e07159 68.07%, #75ed2b 95.51%); ;
