$main-purple: #56076d;
$main-orange: #dbbf00;
$main-yellow: #e5db00;
$main-green: #079e43;

$dark-purple: #260530;
$light-purple: #3c1f5a;

$black: black;

$grey: #323b4b;
$light-grey: #c4c4c4;
$middle-grey: #f6f6f8;
$dark-grey: #151515;

$white: #fff;
