.button:has(a, button) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --black: $black;
  --white: $white;
  --blue: $blue;
  --indigo: $indigo;
  --purple: $purple;
  --pink: $pink;
  --red: $red;
  --orange: $orange;
  --yellow: $yellow;
  --green: $green;
  --teal: $teal;
  --cyan: $cyan;
  --white: $white;
  --grey: $grey;
  --grey-dark: $grey-dark;
  --success: $success;
  --info: $info;
  --warning: $warning;
  --danger: $danger;
  --light: $light;
  --dark: $dark;
  --muted: $muted;
  --hyp8-dark: $hyp8-dark;
  --opacity-bg: $opacity-bg;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html {
  font-size: 62.5%;
  font-family: "Palatino Linotype", sans-serif;
  scroll-behavior: smooth;
  /* Track */
  /* Handle */
  /* Handle on hover */
  /* CUSTOM ATTR */
  /* RESET */
  /* GRID */
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
html ::-moz-selection {
  color: #5b2222;
  background: #3a1616;
}
html ::selection {
  color: #5b2222;
  background: #3a1616;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #5b2222;
}
html::-webkit-scrollbar-thumb {
  background: #3a1616;
}
html::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #3a1616;
}
html [disabled] {
  pointer-events: none;
  filter: grayscale(0);
}
html [hide] {
  opacity: 0;
  pointer-events: none;
}
html * {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 1.6rem;
}
html body.overflow {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html body.overflow div[fluid],
html body.overflow section {
  padding-right: 2rem;
}
html a,
html button {
  all: unset;
  cursor: pointer;
}
html img {
  max-width: 100%;
  display: block;
}
html ul,
html ol {
  margin: 0;
}
html section,
html div[fluid] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
html section .niv,
html div[fluid] .niv {
  width: 100%;
  max-width: 1062px;
  margin: 0 auto;
  padding: 0 15px;
}
html [niv-follow] {
  transition: 0.32s;
}
@media (max-width: 600px) {
  html {
    font-size: 52%;
  }
}

@-webkit-keyframes upandown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(1rem);
  }
  66% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes upandown {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(1rem);
  }
  66% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@-webkit-keyframes svganimation {
  0% {
    stroke-dasharray: 78;
  }
  70% {
    stroke-dasharray: 400;
  }
  100% {
    fill: #fff;
    stroke: 1px;
  }
}
@keyframes svganimation {
  0% {
    stroke-dasharray: 78;
  }
  70% {
    stroke-dasharray: 400;
  }
  100% {
    fill: #fff;
    stroke: 1px;
  }
}
@-webkit-keyframes typing {
  0% {
    max-width: 0;
  }
  50% {
    max-width: 120%;
  }
  100% {
    max-width: 0;
  }
}
@keyframes typing {
  0% {
    max-width: 0;
  }
  50% {
    max-width: 120%;
  }
  100% {
    max-width: 0;
  }
}
@-webkit-keyframes zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(-0.5rem);
  }
}
@keyframes zigzag {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.5rem);
  }
  100% {
    transform: translateX(-0.5rem);
  }
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.5rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #242424;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h3 {
  color: unset;
}

h4 {
  color: unset;
}

p {
  color: unset;
  font-size: 1.2rem;
}

form label input,
form label textarea,
form label select {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  height: 4.3rem;
  padding-left: 1.7rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
form label input::-moz-placeholder, form label textarea::-moz-placeholder, form label select::-moz-placeholder {
  color: #716f6f;
}
form label input:-ms-input-placeholder, form label textarea:-ms-input-placeholder, form label select:-ms-input-placeholder {
  color: #716f6f;
}
form label input::placeholder,
form label textarea::placeholder,
form label select::placeholder {
  color: #716f6f;
}

a:not(a.button) {
  color: unset;
  transition: 0.32s;
}
a:not(a.button).--plus {
  font-family: "Open Sans", sans-serif;
  color: #f2d027;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.9rem;
  padding-left: 1.2rem;
  display: flex;
  position: relative;
  align-items: center;
}
a:not(a.button).--plus::after {
  left: 0;
  content: url("/site/assets/img/icon_plus_anchor.svg");
  position: absolute;
}
a:not(a.button).--blue {
  color: #2f80ed;
}
a:not(a.button):hover, a:not(a.button):focus {
  color: #3a1616;
}

.button:has(a, button) {
  --width: 19.5rem;
  --height: 4.2rem;
  --font-size: 2rem;
  --font-color: $white;
  --background-color: $primary;
  background-color: unset;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: var(--height);
  width: var(--width);
  font-size: var(--font-size);
}
.button:has(a, button):hover, .button:has(a, button):focus {
  background: var(--font-color);
  color: var(--background-color);
}
.button:has(a, button):active {
  border: 2px #716f6f solid;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transition: 0.3s;
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
  /**

  @include responsive(1400px) {}
  @include responsive(1200px) {}
  @include responsive(992px) {}
  @include responsive(730px) {}
  @include responsive(600px) {}

  **/
}
header._hi {
  top: -100rem;
}
.backdrop {
  background: #5b2222;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  pointer-events: none;
  z-index: 666;
}
.backdrop picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
  align-self: center;
  margin: auto auto;
}

div.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition: 0.32s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
div.modal[show] {
  opacity: 1;
  pointer-events: all;
}
div.modal[show] div.niv .box {
  top: 0;
  opacity: 1;
}
div.modal .niv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
div.modal .niv .box {
  z-index: 2;
  height: 55.3rem;
  width: 100%;
  max-width: 59.6rem;
  transition: 0.32s;
  background: #fff;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  box-shadow: 0px 4px 80px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  position: relative;
  top: -15rem;
  opacity: 0;
  padding: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
div.modal .close-modal {
  background-color: rgba(0, 0, 0, 0.39);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  content: "";
}
